.footer-section {
    width: 100%;
    font-family: 'Arial', sans-serif;
    margin-top: 150px;
}
.bottom-cta {
    text-align: center;
    max-width: 650px;
    margin: 0 auto 150px auto;
    padding: 0 20px;
}

.bottom-cta h2 {
    font-size: 32px;
    color: #4c545d;
    margin-bottom: 15px;
}

.bottom-cta p {
    font-size: 16px;
    color: #9fabb7;
    line-height: 1.6;
    margin-bottom: 40px;
}

.bottom-cta .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bottom-cta .btn {
    display: inline-block;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 30px;   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bottom-cta .btn-ios { background-color: #4ed0b4; }
.bottom-cta .btn-mac { background-color: #818cf8; }


.footer-bar-wrapper {
    background-color: #f5f6f8;
    padding: 40px 0;
    width: 100%;
}

.footer-bar-content {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mini-logo-circle {
    width: 55px;
    height: 55px;
    border: 4px solid #2dd4bf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-logo-text {
    font-size: 32px;
    font-weight: bold;
    color: #2dd4bf;
}

.footer-links {
    display: flex;
    gap: 80px;
    flex-grow: 1;
    margin-left: 100px;
}

.links-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links-col a {
    text-decoration: none;
    color: #4c545d;
    font-size: 16px;
    transition: color 0.2s ease;
}

.links-col a:hover {
    color: #2dd4bf;
}

.footer-socials {
    display: flex;
    gap: 24px;
    align-items: center;
}

.social-icon img {
    width: 24px;
    height: 24px;
    transition: filter 0.2s ease;
}

.social-icon:hover img {
    filter: invert(72%) sepia(54%) saturate(456%) hue-rotate(125deg) brightness(95%) contrast(89%);
}

@media (max-width: 768px) {
    .bottom-cta .button-group {
        flex-direction: column;
        gap: 20px;
    }

    .footer-bar-content {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .footer-links {
        flex-direction: column;
        margin-left: 0;
        gap: 20px;
    }
}